body{
    background: darkslateblue;
}
.whiteBox{
    height: 160px;
    width: 160px;
    margin: 10px;
    background-color: bisque;
    display: inline-block;
}
.imgBox{
    position: relative;
    top: 5px;
    left: 5px;
    height: 150px;
    width: 150px;
    background-size: cover;
    cursor:grab;
}

.imgBoxPlaced{
    background-image: url("https://pbs.twimg.com/profile_images/1285655593592791040/HtwPZgej_400x400.jpg");
    position: relative;
    top: 5px;
    left: 5px;
    height: 150px;
    width: 150px;
    background-size: cover;
}